/* 定义自定义中文字体 */
@font-face {
  font-family: "正宋体";
  src: url("/font/quanzikuzhengsongti.ttf") format("ttf");
  font-weight: 700; /* 与实际字体匹配 */
  font-display: swap;
}

#app {
  font-family: "正宋体", "Hiragino Sans GB", "Microsoft YaHei", system-ui, sans-serif ;
}